:root{
    --warna-hijau:#048853;
}

body{
    font-family: "Poppins";
    
}
.navbar-brand{
    font-size: 20px;
    font-weight: 700;

}
.nav-link{
    font-size: 16px;
    font-weight: 400;
}
.nav-link.active{
    font-size: 16px;
    font-weight: 700;
    
}
.btn-masuk{
    width: 133px;
    height: 40px;
    background-color: #fff;
    border: none;
    color: var(--warna-hijau);
    font-size: 16px;
    font-weight: 700;
}
.btn-daftar{
    width: 133px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
/* end navbar */

/* ini section utama*/
#hero{
    background: linear-gradient(160deg, var(--warna-hijau), #000);
    height: 100vh;
}
.text-hero h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 70px;
}
.text-hero p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    width: 84%;
}
.btn-lg{
    width: 237px;
    height: 70px;
    background-color: #fff;
    border: none;
    color: var(--warna-hijau);
    font-size: 16px;
    font-weight: 700;
}

/* end hero */